################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/API-Tests/DesignTimeBuild/.dtbcache.v2
