################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/API-Tests/DesignTimeBuild/.dtbcache.v2
/.vs/API-Tests/FileContentIndex/8c0c160f-e9d0-4f09-95c6-40c0de0c28af.vsidx
/.vs/API-Tests/v17/.suo
/APITests/bin/Debug/netcoreapp3.1/ApiTests.dll
/APITests/bin/Debug/netcoreapp3.1/ApiTests.pdb
/APITests/bin/Debug/netcoreapp3.1/nunit_random_seed.tmp
/APITests/obj/Debug/netcoreapp3.1/ApiTests.dll
/APITests/obj/Debug/netcoreapp3.1/ApiTests.pdb
/.vs/API-Tests/FileContentIndex/95fb6036-8604-4ed9-945b-1d50e3ef265c.vsidx
/.vs/API-Tests/FileContentIndex/read.lock
/.vs/API-Tests/v17/TestStore/0/000.testlog
/.vs/API-Tests/v17/TestStore/0/testlog.manifest
/.vs
/APITests/obj/Debug/netcoreapp3.1/ApiTests.csproj.AssemblyReference.cache
/APIDemo/bin/Debug/APIDemo.exe
/APIDemo/bin/Debug/APIDemo.pdb
/APIDemo/obj/Debug/APIDemo.exe
/APIDemo/obj/Debug/APIDemo.pdb
/APITests/bin/Debug/netcoreapp3.1/APIDemo.exe
/APITests/bin/Debug/netcoreapp3.1/APIDemo.pdb
/APITests/obj/Debug/netcoreapp3.1/ApiTests.csproj.BuildWithSkipAnalyzers
/APITests/obj/Debug/netcoreapp3.1/ApiTests.csproj.CoreCompileInputs.cache
/APITests/obj/Debug/netcoreapp3.1/ApiTests.GeneratedMSBuildEditorConfig.editorconfig
