################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/API-Tests/DesignTimeBuild/.dtbcache.v2
/.vs/API-Tests/FileContentIndex/8c0c160f-e9d0-4f09-95c6-40c0de0c28af.vsidx
/.vs/API-Tests/v17/.suo
/APITests/bin/Debug/netcoreapp3.1/ApiTests.dll
/APITests/bin/Debug/netcoreapp3.1/ApiTests.pdb
/APITests/bin/Debug/netcoreapp3.1/nunit_random_seed.tmp
/APITests/obj/Debug/netcoreapp3.1/ApiTests.dll
/APITests/obj/Debug/netcoreapp3.1/ApiTests.pdb
